USE [Boardgame]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/5/2022 10:17:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreateBy] [int] NULL,
	[CreateAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 6/5/2022 10:17:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [int] NOT NULL,
	[Stars] [int] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[ProductId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Rate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 6/5/2022 10:17:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[OrderDetailId] [int] NOT NULL,
	[CreatedTime] [datetime] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[VoucherId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 6/5/2022 10:17:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quanity] [int] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[ProductPriceId] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 6/5/2022 10:17:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Players] [nvarchar](max) NOT NULL,
	[PlayersSuggest] [int] NOT NULL,
	[Time] [nvarchar](max) NOT NULL,
	[AgeSuggest] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[MainImage] [nvarchar](max) NOT NULL,
	[ShortDesc] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Brand] [nvarchar](max) NOT NULL,
	[Origin] [nvarchar](max) NOT NULL,
	[Weight] [float] NOT NULL,
	[Size] [nvarchar](max) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 6/5/2022 10:17:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Path] [nvarchar](max) NOT NULL,
	[ProductId] [int] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPrice]    Script Date: 6/5/2022 10:17:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPrice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_ProductPrice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductViews]    Script Date: 6/5/2022 10:17:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductViews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[View] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_ProductViews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RateImages]    Script Date: 6/5/2022 10:17:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RateImages](
	[Id] [int] NOT NULL,
	[Path] [nvarchar](max) NOT NULL,
	[RateId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_RateImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 6/5/2022 10:17:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/5/2022 10:17:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Role] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[DOB] [date] NOT NULL,
	[Gender] [bit] NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAddress]    Script Date: 6/5/2022 10:17:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserVoucher]    Script Date: 6/5/2022 10:17:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserVoucher](
	[Id] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[VoucherId] [int] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_UserVoucher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 6/5/2022 10:17:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Expired] [date] NOT NULL,
	[Amount] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[Type] [bit] NOT NULL,
	[Value] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'Board game gia đình', 0, 1, CAST(N'2022-01-01T00:00:00.000' AS DateTime), 1, CAST(N'2022-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Players], [PlayersSuggest], [Time], [AgeSuggest], [CategoryId], [MainImage], [ShortDesc], [Description], [Brand], [Origin], [Weight], [Size], [IsDelete], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (11, N'Conan', N'1 -2 người ', 2, N'15 phút', 9, 1, N'abc', N'abc', N'abc', N'abcc', N'abc', 11, N'abc', 0, 1, CAST(N'2022-01-01T00:00:00.000' AS DateTime), 1, NULL)
INSERT [dbo].[Product] ([Id], [Name], [Players], [PlayersSuggest], [Time], [AgeSuggest], [CategoryId], [MainImage], [ShortDesc], [Description], [Brand], [Origin], [Weight], [Size], [IsDelete], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (12, N'string', N'string', 0, N'string', 0, 1, N'string', N'string', N'string', N'string', N'string', 0, N'string', 1, 1, CAST(N'2022-05-05T14:39:37.837' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([Id], [Path], [ProductId], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt], [IsDelete]) VALUES (3, N'https://boardgame.vn/uploads/u/boardgame.vn/product/2021/04/03/00/06/fvi1617361567.jpg', 3, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductPrice] ON 

INSERT [dbo].[ProductPrice] ([Id], [ProductId], [Price], [CreatedAt], [CreatedBy]) VALUES (5, 3, 10000, CAST(N'2022-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[ProductPrice] ([Id], [ProductId], [Price], [CreatedAt], [CreatedBy]) VALUES (7, 3, 20000, CAST(N'2022-02-02T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[ProductPrice] ([Id], [ProductId], [Price], [CreatedAt], [CreatedBy]) VALUES (8, 3, 5000, CAST(N'2021-01-01T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ProductPrice] OFF
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Rate_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Rate_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderDetail] FOREIGN KEY([OrderDetailId])
REFERENCES [dbo].[OrderDetail] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderDetail]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_ProductPrice] FOREIGN KEY([ProductPriceId])
REFERENCES [dbo].[ProductPrice] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_ProductPrice]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Type] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Type]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Product]
GO
ALTER TABLE [dbo].[ProductPrice]  WITH CHECK ADD  CONSTRAINT [FK_ProductPrice_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductPrice] CHECK CONSTRAINT [FK_ProductPrice_Product]
GO
ALTER TABLE [dbo].[ProductViews]  WITH CHECK ADD  CONSTRAINT [FK_ProductViews_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductViews] CHECK CONSTRAINT [FK_ProductViews_Product]
GO
ALTER TABLE [dbo].[RateImages]  WITH CHECK ADD  CONSTRAINT [FK_RateImages_Rate] FOREIGN KEY([RateId])
REFERENCES [dbo].[Feedback] ([Id])
GO
ALTER TABLE [dbo].[RateImages] CHECK CONSTRAINT [FK_RateImages_Rate]
GO
ALTER TABLE [dbo].[UserAddress]  WITH CHECK ADD  CONSTRAINT [FK_UserAddress_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserAddress] CHECK CONSTRAINT [FK_UserAddress_User]
GO
ALTER TABLE [dbo].[UserVoucher]  WITH CHECK ADD  CONSTRAINT [FK_UserVoucher_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserVoucher] CHECK CONSTRAINT [FK_UserVoucher_User]
GO
ALTER TABLE [dbo].[UserVoucher]  WITH CHECK ADD  CONSTRAINT [FK_UserVoucher_Voucher] FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Voucher] ([Id])
GO
ALTER TABLE [dbo].[UserVoucher] CHECK CONSTRAINT [FK_UserVoucher_Voucher]
GO
/****** Object:  StoredProcedure [dbo].[Product_Create]    Script Date: 6/5/2022 10:17:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Product_Create]
	@Name nvarchar(max),
	@Players nvarchar(max),
	@PlayersSuggest int,
	@Time nvarchar(max),
	@AgeSuggest int,
	@CategoryId int,
	@MainImage nvarchar(max),
	@ShortDesc nvarchar(max),
	@Description nvarchar(max),
	@Price float,
	@Brand nvarchar(max),
	@Origin nvarchar(max),
	@Weight nvarchar(max),
	@Size nvarchar(max),
	@CreatedBy int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


INSERT INTO [dbo].[Product]
           ([Name]
           ,[Players]
           ,[PlayersSuggest]
           ,[Time]
           ,[AgeSuggest]
           ,[CategoryId]
           ,[MainImage]
           ,[ShortDesc]
           ,[Description]
   
           ,[Brand]
           ,[Origin]
           ,[Weight]
           ,[Size]
           ,[IsDelete]
           ,[CreatedBy],
		   [CreatedAt])
     VALUES
           (@Name
           ,@Players
           ,@PlayersSuggest
           ,@Time
           ,@AgeSuggest
           ,@CategoryId
           ,@MainImage
           ,@ShortDesc
           ,@Description

           ,@Brand
           ,@Origin
           ,@Weight
           ,@Size
           ,0
           ,@CreatedBy
           ,GETDATE()
         )


INSERT INTO [dbo].[ProductPrice]
           ([ProductId]
           ,[Price]
           ,[CreatedAt]
           ,[CreatedBy])
     VALUES
           (SCOPE_IDENTITY()
           ,@Price
           ,GETDATE()
           ,@CreatedBy )

		 	


END
GO
/****** Object:  StoredProcedure [dbo].[Product_Delete]    Script Date: 6/5/2022 10:17:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Product_Delete]
@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	UPDATE Product SET IsDelete = 1 WHERE Id= @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Product_Edit]    Script Date: 6/5/2022 10:17:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Product_Edit]
	@Id int,
	@Name nvarchar(max),
	@Players nvarchar(max),
	@PlayersSuggest int,
	@Time nvarchar(max),
	@AgeSuggest int,
	@CategoryId int,
	@MainImage nvarchar(max),
	@ShortDesc nvarchar(max),
	@Description nvarchar(max),
	@Price float,
	@Brand nvarchar(max),
	@Origin nvarchar(max),
	@Weight nvarchar(max),
	@Size nvarchar(max),
	@UpdateBy int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


UPDATE [dbo].[Product]
   SET [Name] =@Name
      ,[Players] = @Players
      ,[PlayersSuggest] =  @PlayersSuggest
      ,[Time] = @Time
      ,[AgeSuggest] = @AgeSuggest
      ,[CategoryId] = @CategoryId
      ,[MainImage] = @MainImage
      ,[ShortDesc] = @ShortDesc
      ,[Description] =@Description
      ,[Brand] = @Brand
      ,[Origin] = @Origin
      ,[Weight] = @Weight
      ,[Size] = @Size
      ,[UpdatedBy] = @UpdateBy
      ,[UpdatedAt] = GETDATE()
 WHERE Id = @Id
 DECLARE @PriceOrigin as float
 SET @PriceOrigin = ( SELECT TOP(1) Price 
					 FROM ProductPrice 
					 WHERE ProductId = 3   
					 ORDER BY convert(datetime, ProductPrice.CreatedAt, 103) DESC )

 IF(@Price <> @PriceOrigin)
	BEGIN
	INSERT INTO [dbo].[ProductPrice]
           ([ProductId]
           ,[Price]
           ,[CreatedAt]
           ,[CreatedBy])
     VALUES
           (@Id
           ,@Price
           ,GETDATE()
           ,@UpdateBy )
	END


END
GO
/****** Object:  StoredProcedure [dbo].[Product_Get]    Script Date: 6/5/2022 10:17:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Product_Get]
@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT p.[Id]
      ,[Name]
      ,[Players]
      ,[PlayersSuggest]
      ,[Time]
      ,[AgeSuggest]
      ,[CategoryId]
      ,[MainImage]
      ,[ShortDesc]
      ,[Description]
      ,[Brand]
      ,[Origin]
      ,[Weight]
      ,[Size]
      ,[IsDelete]
      ,p.[CreatedBy]
      ,p.[CreatedAt]
      ,[UpdatedBy]
      ,[UpdatedAt]
	  ,pp.Price
  FROM [Boardgame].[dbo].[Product] as P
  JOIN ProductPrice as pp on p.Id = pp.ProductId
  WHERE p.Id = @Id
  GROUP BY  p.[Id]
      ,[Name]
      ,[Players]
      ,[PlayersSuggest]
      ,[Time]
      ,[AgeSuggest]
      ,[CategoryId]
      ,[MainImage]
      ,[ShortDesc]
      ,[Description]
	  ,pp.Price
      ,[Brand]
      ,[Origin]
      ,[Weight]
      ,[Size]
      ,[IsDelete]
      ,p.[CreatedBy]
      ,p.[CreatedAt]
      ,[UpdatedBy]
      ,[UpdatedAt]
  HAVING pp.Price =
				  (
				  SELECT TOP(1) ProductPrice.Price
				  FROM ProductPrice JOIN Product on ProductPrice.ProductId = Product.Id  
				  WHERE Product.Id =p.Id  and ProductPrice.CreatedAt <GETDATE()
				  ORDER BY convert(datetime, ProductPrice.CreatedAt, 103) DESC
				)

END
GO
/****** Object:  StoredProcedure [dbo].[Product_GetImages]    Script Date: 6/5/2022 10:17:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Product_GetImages]
@Id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT Path
	FROM ProductImages 
	WHERE ProductId = @Id and IsDelete =0
END
GO
/****** Object:  StoredProcedure [dbo].[Product_GetList]    Script Date: 6/5/2022 10:17:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Product_GetList]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

/****** Script for SelectTopNRows command from SSMS  ******/
SELECT p.[Id]
      ,[Name]
      ,[Players]
      ,[PlayersSuggest]
      ,[Time]
      ,[AgeSuggest]
      ,[CategoryId]
      ,[MainImage]
      ,[ShortDesc]
      ,[Description]
      ,[Brand]
      ,[Origin]
      ,[Weight]
      ,[Size]
      ,[IsDelete]
      ,p.[CreatedBy]
      ,p.[CreatedAt]
      ,[UpdatedBy]
      ,[UpdatedAt]
	  ,pp.Price
  FROM [Boardgame].[dbo].[Product] as P
  JOIN ProductPrice as pp on p.Id = pp.ProductId
  WHERE IsDelete = 0
  GROUP BY  p.[Id]
      ,[Name]
      ,[Players]
      ,[PlayersSuggest]
      ,[Time]
      ,[AgeSuggest]
      ,[CategoryId]
      ,[MainImage]
      ,[ShortDesc]
      ,[Description]
	  ,pp.Price
      ,[Brand]
      ,[Origin]
      ,[Weight]
      ,[Size]
      ,[IsDelete]
      ,p.[CreatedBy]
      ,p.[CreatedAt]
      ,[UpdatedBy]
      ,[UpdatedAt]
  HAVING pp.Price =
				  (
				  SELECT TOP(1) ProductPrice.Price
				  FROM ProductPrice JOIN Product on ProductPrice.ProductId = Product.Id  
				  WHERE Product.Id =p.Id  and ProductPrice.CreatedAt <GETDATE()
				  ORDER BY convert(datetime, ProductPrice.CreatedAt, 103) DESC
				)

 
END
GO
